<div id="loading"><i class="fa-solid fa-cog fa-spin"></i></div>
<h1>Add Record</h1>
<form data-form="add-record">
    <label>
        <b>Site</b>
        <span><select required id="site">
            <option value="">(select)</option>
        </select></span>
    </label>
    <label>
        <b>Character</b>
        <span><select required id="character">
            <option value="">(select)</option>
        </select></span>
    </label>
    <label>
        <b>Thread</b>
        <span><select required id="thread-auto">
            <option value="">(select)</option>
        </select></span>
    </label>
    <label>
        <b>Ship</b>
        <span><input type="text" id="ship" placeholder="(optional)" /></span>
    </label>
    <div class="field-wrap fullWidth adjustable">
        <b>Records</b>
        <div class="rows"></div>
        <div class="multi-buttons" data-row-type="records">
            <button type="button" onclick="addRow(this)">+ New Row</button>
            <button type="button" onclick="removeRow(this)">- Remove Row</button>
        </div>
    </div>
    <button type="submit" class="fullWidth">Submit</button>
</form>
<script>

    fetch(`https://opensheet.elk.sh/${sheetID}/Characters`)
    .then((response) => response.json())
    .then((characterData) => {
        storedCharacters = [...characterData];

        fetch(`https://opensheet.elk.sh/${sheetID}/Threads`)
        .then((response) => response.json())
        .then((threadData) => {
            storedThreads = [...threadData];

        }).then(() => {
            initSiteSelects();
            document.querySelector('#loading').remove();
        });
    });
</script>