.amaya.lux-track {
    --accent: rgb(88, 156, 150);
}
.aurelien.lux-track {
    --accent: rgb(119, 153, 141);
}
.beverly.lux-track {
    --accent: rgb(145, 179, 139);
}
.ernesto.lux-track {
    --accent: rgb(85, 111, 74);
}
.everest.lux-track {
    --accent: rgb(70, 120, 142);
}
.lark.lux-track {
    --accent: rgb(112, 118, 159);
}
.love.lux-track {
    --accent: rgb(189, 134, 101);
}
.noah.lux-track {
    --accent: rgb(172, 143, 176);
}
.tymon.lux-track {
    --accent: rgb(174, 143, 110);
}
