.adeline.lux-track {
    --accent: #d98494;
}
.adrian.lux-track, .nathan.lux-track {
    --accent: #c4ac6a;
}
.beau.lux-track {
    --accent: #db825c;
}
.cameron.lux-track {
    --accent: #bd7da3;
}
.catherine.lux-track {
    --accent: #d96a8f;
}
.connor.lux-track, .derek.lux-track, .kieran.lux-track {
    --accent: #6c7091;
}
.dixon.lux-track, .dean.lux-track, .dawson.lux-track {
    --accent: #648561;
}
.emily.lux-track, .bane.lux-track {
    --accent: #c2575e;
}
.francis.lux-track {
    --accent: #4a7296;
}
.hazel.lux-track, .daniel.lux-track {
    --accent: #8c6c58;
}
.henry.lux-track {
    --accent: #4f5478;
}
.isaac.lux-track {
    --accent: #8297b3;
}
.julianna.lux-track {
    --accent: #c45843;
}
.lorelai.lux-track {
    --accent: #996299;
}
.mace.lux-track, .cocky.lux-track {
    --accent: #846fa8;
}
.mary.lux-track {
    --accent: #a79ab3;
}
.nicholas.lux-track {
    --accent: #918272;
}
.nimue.lux-track, .wolfgang.lux-track {
    --accent: #539394;
}
.nox.lux-track, .wright.lux-track {
    --accent: #666666;
}
.oliver.lux-track {
    --accent: #87c48c;
}
.prudence.lux-track, .logan.lux-track {
    --accent: #71b0bf;
}
.sakai.lux-track {
    --accent: #996271;
}
.stephen.lux-track {
    --accent: #a9c771;
}
.theodore.lux-track {
    --accent: #7ebfab;
}
.tobias.lux-track, .ryan.lux-track {
    --accent: #bd7f3c;
}
.verona.lux-track {
    --accent: #ab76a2;
}
.vega.lux-track {
    --accent: #6b6357;
}
.wren.lux-track {
    --accent: #a6a4a4;
}
