.adrian.lux-track {
    --accent: #bda051;
}
.catherine.lux-track {
    --accent: #bd7da3;
}
.emily.lux-track {
    --accent: #c2575e;
}
.hazel.lux-track {
    --accent: #648561;
}
.henry.lux-track {
    --accent: #434a7a;
}
.isaac.lux-track {
    --accent: #6c7091;
}
.lorelai.lux-track {
    --accent: #996299;
}
.mace.lux-track {
    --accent: #846fa8;
}
.nimue.lux-track {
    --accent: #479394;
}
.oliver.lux-track {
    --accent: #82b886;
}
.prudence.lux-track {
    --accent: #5fb4c9;
}
.sakai.lux-track {
    --accent: #753446;
}
.tobias.lux-track {
    --accent: #bd7f3c;
}
.wren.lux-track {
    --accent: #856658;
}


.bane.lux-track {
    --accent: #c2575e;
}
.dawson.lux-track {
    --accent: #648561;
}
.kieran.lux-track {
    --accent: #6c7091;
}
.logan.lux-track {
    --accent: #5fb4c9;
}
.nathan.lux-track {
    --accent: #bda051;
}
.ryan.lux-track {
    --accent: #bd7f3c;
}
.wolfgang.lux-track {
    --accent: #479394;
}
.wright.lux-track {
    --accent: #856658;
}


.derek.lux-track {
    --accent: #6c7091;
}
.dean.lux-track {
    --accent: #648561;
}
