.adrian.lux-track {
    --accent: #bda051;
}
.catherine.lux-track {
    --accent: #bd7da3;
}
.emily.lux-track {
    --accent: #c2575e;
}
.hazel.lux-track {
    --accent: #648561;
}
.henry.lux-track {
    --accent: #434a7a;
}
.isaac.lux-track {
    --accent: #6c7091;
}
.lorelai.lux-track {
    --accent: #996299;
}
.mace.lux-track {
    --accent: #846fa8;
}
.nimue.lux-track {
    --accent: #479394;
}
.oliver.lux-track {
    --accent: #82b886;
}
.prudence.lux-track {
    --accent: #5fb4c9;
}
.sakai.lux-track {
    --accent: #822741;
}


.bane.lux-track {
    --accent: #91303a;
}
.dawson.lux-track {
    --accent: #32783f;
}
.kieran.lux-track {
    --accent: #6c7091;
}
.logan.lux-track {
    --accent: #333c87;
}
.nathan.lux-track {
    --accent: #684087;
}
.ryan.lux-track {
    --accent: #bda051;
}
.wolfgang.lux-track {
    --accent: #3a7c8c;
}
