.daevyr.lux-track {
    --accent: rgb(102,0,0);
}
.daxon.lux-track {
    --accent: rgb(255,16,0);
}
.leon.lux-track {
    --accent: rgb(125,78,27);
}
.raenya.lux-track {
    --accent: rgb(247,195,34);
}
.renfri.lux-track {
    --accent: rgb(115,4,171);
}
.remus.lux-track {
    --accent: rgb(71,166,29);
}
.romulus.lux-track {
    --accent: rgb(61,133,198);
}
.tommy.lux-track {
    --accent: rgb(247,0,145);
}
