@import '../global/mixins.scss';

/*******************************
    Variables
********************************/
:root {
    --size--menu-width: 50px;
    --size--submenu-width: 200px;

    @include mq-up(xs) {
        --size--menu-width: 60px;
        --size--submenu-width: 300px;
    }

    @include mq-up(sm) {
        --size--menu-width: 100px;
        --size--submenu-width: 300px;
    }

    --space--xs: 5px;
    --space--sm: 10px;
    --space--md: 15px;
    --space--lg: 30px;
    --space--xl: 60px;

    --font--body: 'Nunito Sans', sans-serif;
    --font--serif: 'Playfair', serif;

    --accent: rgb(86, 167, 163);
    --bg-accent: rgb(86, 167, 163);
    --text-accent: rgb(107, 199, 194);
    --accent-rgb: 97, 143, 141;
    --rgb: 97, 143, 141;
    --accent--light: #6e8b86;
    --accent-rgb--light: 110, 139, 134;

    --bg--primary: #414141;
    --bg--secondary: #2b2b2b;
    --bg--tertiary: #5a5a5a;
    --bg--quaternary: #363636;
    --bg--quintenary: #747474;

    --text--primary: #e7e7e7;
    --text--secondary: #f8f8f8;
    --text--on-accent: #e7e7e7;
}

body.theme--light {
    --bg--primary: #dedddd;
    --bg--secondary: #c7c7c7;
    --bg--tertiary: #f1f1f1;
    --bg--quaternary: #d1d1d1;
    --bg--quintenary: #e2e2e2;
    
    --text--primary: #767676;
}