<div class="records--header">
    <button class="records--toggle" data-view="heatmap" onClick="toggleRecordsView(this)">
        <span>Heatmap</span>
        <span>List</span>
    </button>
    <hr />
    <button onClick="toggleFilters(this)" class="mobileOnly">View Filters</button>
    <div class="filters--collapsible">
        <div class="threads--filters">
            <div class="threads--filters-inner">
                <!--Year-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Year</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--year" data-filter-group="year"></div>
                    </div>
                </div>
                <!--Characters-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Character</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--characters" data-filter-group="character"></div>
                    </div>
                </div>
                <!--Ship-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Ship</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--ships" data-filter-group="ship"></div>
                    </div>
                </div>
                <!--Partner-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Partner</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--partners" data-filter-group="partner"></div>
                    </div>
                </div>
                <!--Site-->
                @@if (sitename === 'all') {
                    <div class="threads--filter filter--parent">
                        <button onClick="openFilters(this)">Site</button>
                        <div class="threads--filter-dropdown">
                            <div class="threads--filter-group filter--sites" data-filter-group="site"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="records--content" data-view="heatmap">
    <div class="records--heatmaps"><div class="records--spinner"><i class="fa-solid fa-cog fa-spin"></i></div></div>
    <div class="records--list"><div class="records--spinner"><i class="fa-solid fa-cog fa-spin"></i></div></div>
</div>
<script>
    let siteName = '@@sitename';
    let siteObject, staticThreads, staticRecords;

    fetch(`https://opensheet.elk.sh/${sheetID}/Sites`)
    .then((response) => response.json())
    .then((siteData) => {
        siteObject = siteName !== 'all' ? siteData.filter(item => item.Site === siteName) : siteData;

        fetch(`https://opensheet.elk.sh/${sheetID}/Threads`)
        .then((response) => response.json())
        .then((threadData) => {
            if(siteObject.length === 1) {
                staticThreads = [...threadData.filter(item => item.Site === siteObject[0].Site)];
            } else {
                staticThreads = [...threadData];
            }

            fetch(`https://opensheet.elk.sh/${sheetID}/Writing`)
            .then((response) => response.json())
            .then((recordsData) => {
                let filteredRecords = [];
                if(siteObject.length === 1) {
                    filteredRecords = [...recordsData.filter(item => item.Site === siteObject[0].Site)];
                } else {
                    filteredRecords = [...recordsData];
                }

                siteObject.sort((a, b) => {
                    if(a.Status === 'active' && b.Status !== 'active') return -1;
                    else if(a.Status !== 'active' && b.Status === 'active') return 1;
                    else if(a.Site < b.Site) return -1;
                    else if(a.Site > b.Site) return 1;
                    else return 0;
                });

                //combine thread data into record data
                let combinedRecords = filteredRecords.map(item => {
                    let thread = staticThreads.filter(thread => thread.ThreadID === item.Thread && thread.Site === item.Site)[0];
                    let partnerNamesArray = [], partnerIdsArray = [];
                    JSON.parse(thread.Featuring).forEach(partner => {
                        if(!partnerNamesArray.includes(partner.writer)) {
                            partnerNamesArray.push(partner.writer);
                            partnerIdsArray.push(partner.writerId);
                        }
                    });
                    
                    return ({
                        ...item,
                        threadData: thread,
                        partnerNames: partnerNamesArray,
                        partnerIds: partnerIdsArray,
                    });
                });

                if(siteObject.length === 1) {
                    staticRecords = [...combinedRecords.filter(item => item.Site === siteObject[0].Site)];
                } else {
                    staticRecords = [...combinedRecords];
                }

                let recordYears = [...new Set(staticRecords.map(item => new Date(item.Date).getFullYear()))];
                let recordCharacters = [...new Set(staticRecords.map(item => JSON.parse(item.Character).name))];
                let recordShips = [...new Set(staticRecords.map(item => item.Ship))];
                let recordSites = [...new Set(siteObject.map(item => ({Site: item.Site, Status: item.Status})))];
                
                let combinedPartners = [...new Set(staticRecords.map(item => item.partnerNames))];
                let recordPartners = [];
                combinedPartners.forEach(partnerArray => {
                    partnerArray.forEach(partner => {
                        if(!recordPartners.includes(partner)) {
                            recordPartners.push(partner);
                        }
                    });
                });

                initRecordsFilters(recordYears, recordCharacters, recordShips, recordSites, recordPartners);
                initRecords(siteObject, staticRecords);
            });

        });

    });
</script>