<div class="records--header filters--wrap">
    <button class="records--toggle" data-view="heatmap" onClick="toggleRecordsView(this)">
        <span>Heatmap</span>
        <span>List</span>
    </button>
    <hr />
    <button onClick="toggleFilters(this)" class="mobileOnly">View Filters</button>
    <div class="filters--collapsible">
        <div class="threads--filters">
            <div class="threads--filters-inner">
                <div class="threads--filters-active">
                    <button class="threads--filters-clear" onClick="clearAllFilters()">Clear All Filters</button>
                    <div class="threads--filters-clipped"></div>
                </div>
                <!--Year-->
                <div class="threads--filter filter--parent heatmapOnly">
                    <button onClick="openFilters(this)">Metric</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--metric">
                            <button class="is-active" onclick="changeRecordFilter(this)" data-filter="metric" data-metric="words">word count</button>
                            <button onclick="changeRecordFilter(this)" data-filter="metric" data-metric="posts">post count</button>
                        </div>
                    </div>
                </div>
                <!--Year-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Year</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--year" data-filter-group="year"></div>
                    </div>
                </div>
                <!--Month-->
                <div class="threads--filter filter--parent listOnly">
                    <button onClick="openFilters(this)">Month</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--month" data-filter-group="month">
                            <button onclick="changeRecordFilter(this)" data-all data-filter="month" data-month="all" class="is-active">all</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="january">january</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="february">february</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="march">march</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="april">april</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="may">may</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="june">june</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="july">july</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="august">august</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="september">september</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="october">october</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="november">november</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="month" data-month="december">december</button>
                        </div>
                    </div>
                </div>
                <!--Characters-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Character</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--characters" data-filter-group="character"></div>
                    </div>
                </div>
                <!--Ship-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Ship</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--ships" data-filter-group="ship"></div>
                    </div>
                </div>
                <!--Partner-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Partner</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--partners" data-filter-group="partner"></div>
                    </div>
                </div>
                <!--Type-->
                <div class="threads--filter filter--parent">
                    <button onClick="openFilters(this)">Type</button>
                    <div class="threads--filter-dropdown">
                        <div class="threads--filter-group filter--type" data-filter-group="type">
                            <button class="is-active" onclick="changeRecordFilter(this)" data-all data-filter="type" data-type="all">all</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="type" data-type="thread">thread</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="type" data-type="comm">comm</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="type" data-type="social media">social media</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="type" data-type="oneshot">oneshot</button>
                            <button onclick="changeRecordFilter(this)" data-list-filter data-filter="type" data-type="event">event</button>
                        </div>
                    </div>
                </div>
                <!--Site-->
                @@if (sitename === 'all') {
                    <div class="threads--filter filter--parent">
                        <button onClick="openFilters(this)">Site</button>
                        <div class="threads--filter-dropdown">
                            <div class="threads--filter-group filter--sites" data-filter-group="site"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="records--content" data-view="heatmap">
    <div class="records--heatmaps"><div class="records--spinner"><i class="fa-solid fa-cog fa-spin"></i></div></div>
    <div class="records--list"><div class="records--spinner"><i class="fa-solid fa-cog fa-spin"></i></div></div>
</div>
<script>
    let siteName = '@@sitename';
    let siteObject, staticThreads, staticRecords;

    fetch(`https://opensheet.elk.sh/${sheetID}/Sites`)
    .then((response) => response.json())
    .then((siteData) => {
        siteObject = siteName !== 'all' ? siteData.filter(item => item.Site === siteName) : siteData;

        fetch(`https://opensheet.elk.sh/${sheetID}/Threads`)
        .then((response) => response.json())
        .then((threadData) => {
            if(siteObject.length === 1) {
                staticThreads = [...threadData.filter(item => item.Site === siteObject[0].Site)];
            } else {
                staticThreads = [...threadData];
            }

            fetch(`https://opensheet.elk.sh/${sheetID}/Writing`)
            .then((response) => response.json())
            .then((recordsData) => {
                let filteredRecords = [];
                if(siteObject.length === 1) {
                    filteredRecords = [...recordsData.filter(item => item.Site === siteObject[0].Site)];
                } else {
                    filteredRecords = [...recordsData];
                }
                
                siteObject.sort((a, b) => {
                    if(a.Status === 'active' && b.Status !== 'active') return -1;
                    else if(a.Status !== 'active' && b.Status === 'active') return 1;
                    else if(a.Site < b.Site) return -1;
                    else if(a.Site > b.Site) return 1;
                    else return 0;
                });

                //combine thread data into record data
                let combinedRecords = filteredRecords.map(item => {
                    let thread = staticThreads.filter(thread => thread.ThreadID === item.Thread && thread.Site === item.Site)[0];
                    let partnerNamesArray = [], partnerIdsArray = [];
                    if(thread) {
                        JSON.parse(thread.Featuring).forEach(partner => {
                            if(!partnerNamesArray.includes(partner.writer)) {
                                partnerNamesArray.push(partner.writer);
                                partnerIdsArray.push(partner.writerId);
                            }
                        });
                    }

                    let data = {
                        ...item,
                        partnerNames: partnerNamesArray,
                        partnerIds: partnerIdsArray,
                    };
                    
                    if(thread) {
                        return ({
                            ...data,
                            threadData: thread,
                        });
                    } else {
                        return data;
                    }
                });

                if(siteObject.length === 1) {
                    staticRecords = [...combinedRecords.filter(item => item.Site === siteObject[0].Site)];
                } else {
                    staticRecords = [...combinedRecords];
                }

                let recordYears = [...new Set(staticRecords.map(item => new Date(item.Date).getFullYear()))];
                let recordCharacters = [...new Set(staticRecords.map(item => JSON.parse(item.Character).name))];
                let recordShips = [...new Set(staticRecords.map(item => item.Ship))];
                let recordSites = [...new Set(siteObject.map(item => ({Site: item.Site, Status: item.Status})))];
                let combinedPartners = [...new Set(staticRecords.map(item => item.partnerNames))];
                let recordPartners = [];
                combinedPartners.forEach(partnerArray => {
                    partnerArray.forEach(partner => {
                        if(!recordPartners.includes(partner)) {
                            recordPartners.push(partner);
                        }
                    });
                });
                console.log(recordSites);
                initRecordsFilters(recordYears, recordCharacters, recordShips, recordSites, recordPartners);
                initRecords(siteObject, staticRecords, true);
            });

        });

    });
</script>