.adeline.lux-track, .lux.adeline {
    --accent: rgb(217, 132, 148);
}
.adrian.lux-track, .lux.adrian,
.nathan.lux-track, .lux.nathan {
    --accent: rgb(196, 172, 106);
}
.beau.lux-track, .lux.beau {
    --accent: rgb(219, 130, 92);
}
.cameron.lux-track, .lux.cameron {
    --accent: rgb(189, 125, 163);
}
.catherine.lux-track, .lux.catherine {
    --accent: rgb(217, 106, 143);
}
.connor.lux-track, .lux.connor,
.derek.lux-track, .lux.derek,
.kieran.lux-track, .lux.kieran {
    --accent: rgb(108, 112, 145);
}
.cyrus.lux-track, .lux.cyrus {
    --accent: rgb(82, 124, 95);
}
.dixon.lux-track, .lux.dixon,
.dean.lux-track, .lux.dean,
.dawson.lux-track, .lux.dawson {
    --accent: rgb(111, 138, 109);
}
.emily.lux-track, .lux.emily,
.bane.lux-track, .lux.bane {
    --accent: rgb(194, 87, 94);
}
.francis.lux-track, .lux.francis {
    --accent: rgb(74, 114, 150);
}
.hazel.lux-track, .lux.hazel,
.daniel.lux-track, .lux.daniel {
    --accent: rgb(140, 108, 88);
}
.henry.lux-track, .lux.henry {
    --accent: rgb(79, 84, 120);
}
.isaac.lux-track, .lux.isaac {
    --accent: rgb(130, 151, 179);
}
.jack.lux-track, .lux.jack {
    --accent: rgb(93, 138, 76);
}
.jacob.lux-track, .lux.jacob {
    --accent: rgb(211, 164, 89);
}
.james.lux-track, .lux.james {
    --accent: rgb(163, 108, 85);
}
.julianna.lux-track, .lux.julianna {
    --accent: rgb(196, 88, 67);
}
.lorelai.lux-track, .lux.lorelai {
    --accent: rgb(128, 80, 128);
}
.lyra.lux-track, .lux.lyra {
    --accent: rgb(111, 127, 184);
}
.mace.lux-track, .lux.mace,
.cocky.lux-track, .lux.cocky {
    --accent: rgb(132, 111, 168);
}
.mary.lux-track, .lux.mary {
    --accent: rgb(167, 154, 179);
}
.nicholas.lux-track, .lux.nicholas {
    --accent: rgb(145, 130, 114);
}
.nimue.lux-track, .lux.nimue,
.wolfgang.lux-track, .lux.wolfgang {
    --accent: rgb(83, 147, 148);
}
.nox.lux-track, .lux.nox,
.wright.lux-track, .lux.wright {
    --accent: rgb(102, 102, 102);
}
.oliver.lux-track, .lux.oliver {
    --accent: rgb(135, 196, 140);
}
.prudence.lux-track, .lux.prudence,
.logan.lux-track, .lux.logan {
    --accent: rgb(113, 176, 191);
}
.sakai.lux-track, .lux.sakai {
    --accent: rgb(153, 98, 113);
}
.stephen.lux-track, .lux.stephen {
    --accent: rgb(169, 199, 113);
}
.theodore.lux-track, .lux.theodore {
    --accent: rgb(126, 191, 171);
}
.tobias.lux-track, .lux.tobias,
.ryan.lux-track, .lux.ryan {
    --accent: rgb(189, 127, 60);
}
.verona.lux-track, .lux.verona {
    --accent: rgb(171, 118, 162);
}
.vega.lux-track, .lux.vega {
    --accent: rgb(107, 99, 87);
}
.wren.lux-track, .lux.wren {
    --accent: rgb(166, 164, 164);
}
