.lux-track,
.lux,
.parent-1,
.gb-1.parent-0,
.lux-bb,
.account-1.parent-0 {
    --defaultPostImage: url(https://files.jcink.net/uploads2/godlybehaviour/GB24/forum_guidebook_min.jpg);

    &,
    .dark &,
    .theme--dark & {
        --accent: rgb(var(--rgb));
        --dkAccent: rgb(var(--rgb-dark, var(--rgb)));
    }

    .light & {
        --accent: rgb(var(--rgb-dark, var(--rgb)));
        --dkAccent: rgb(var(--rgb));
    }

    .totl &,
    &.gb tag-wrap,
    &.gb tag-comm,
    &.gb tag-social,
    & et-wrap,
    & et-comm,
    & et-social,
    &.wthi .lux-bb {
        //shared
        .light & {
            --accent: rgb(var(--rgb-dark, var(--rgb)));
            --accent-10: rgba(var(--rgb-dark, var(--rgb)), 0.1);
            --accent-20: rgba(var(--rgb-dark, var(--rgb)), 0.2);
            --accent-30: rgba(var(--rgb-dark, var(--rgb)), 0.3);
            --accent-40: rgba(var(--rgb-dark, var(--rgb)), 0.4);
            --accent-50: rgba(var(--rgb-dark, var(--rgb)), 0.5);
            --accent-60: rgba(var(--rgb-dark, var(--rgb)), 0.6);
            --accent-70: rgba(var(--rgb-dark, var(--rgb)), 0.7);
            --accent-80: rgba(var(--rgb-dark, var(--rgb)), 0.8);
            --accent-90: rgba(var(--rgb-dark, var(--rgb)), 0.9);
        }
        body:not(.light) & {
            --accent: rgb(var(--rgb));
            --accent-10: rgba(var(--rgb), 0.1);
            --accent-20: rgba(var(--rgb), 0.2);
            --accent-30: rgba(var(--rgb), 0.3);
            --accent-40: rgba(var(--rgb), 0.4);
            --accent-50: rgba(var(--rgb), 0.5);
            --accent-60: rgba(var(--rgb), 0.6);
            --accent-70: rgba(var(--rgb), 0.7);
            --accent-80: rgba(var(--rgb), 0.8);
            --accent-90: rgba(var(--rgb), 0.9);
        }
    }
    .totl & {
        //totl only
        --ltaccent: rgb(var(--rgb));
        --ltaccent-40: rgba(var(--rgb), 0.4);
        --ltaccent-55: rgba(var(--rgb), 0.55);
    }
    &.gb tag-wrap,
    &.gb tag-comm,
    &.gb tag-social {
        //gb only
        --bg-color: var(--accent);
        --bg-color-transparent: var(--accent-20);
        --text-color: var(--accent);
        --border-color: var(--accent);
    }
    & et-wrap,
    & et-comm,
    & et-social {
        //gb:et only
        --border-accent: var(--accent);
        --bg-accent: var(--accent);
        --bg-accent-solid: var(--accent);
        --bg-accent-30: var(--accent-30);
        --bg-accent-50: var(--accent-50);
        --text-accent: var(--accent);
    }
    &.wthi .lux-bb {
        //wthi only
        --bg-accent: var(--accent);
        --bg-accent-transparent: var(--accent-60);

        --text-accent: var(--accent);
        --text-on-accent: var(--on-accent, rgb(245, 245, 245));
        
        --border-accent: var(--accent);
        --border-accent-transparent: var(--accent-60);
    }

    span:not(.notExternal) et-image::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-size: cover;
        background-position: var(--postImagePosition, center);
        background-image: var(--postImage, var(--defaultPostImage));
        z-index: 1;
    }
    et-tag {
        order: 10;
    }
    &.wthi tag-wrap,
    &.wthi tag-comm {
        tag-image,
        lux-image {
            &::before {
                background-image: var(--wideImage, var(--postImage));
                background-position: var(--postImagePosition, center);
            }
        }
    }
    
    &.abigail,
    &.abby,
    .totl.m-1608 &,
    &.gb-71 {
        --rgb: 212,161,168;
        --postImage: url(https://64.media.tumblr.com/288a9e33ee421ac9ec1ce828a7a92177/99a274faae674591-e8/s500x750/75b7bc0cb6e8133cf92fc7785e634cdcc3397203.jpg);
        --postImagePosition: top;
    }
    
    &.adaline,
    &.addie,
    .totl.m-157 & {
        --rgb: 167, 115, 129;
        --rgb-dark: 145, 80, 98;
    }

    &.aiden,
    .totl.m-838 &,
    &.gb-7,
    &.wthi-7 {
        --rgb: 136, 163, 151;
        --rgb-dark: 107, 140, 126;
        --on-accent: rgb(45, 45, 45);
        --postImage: url(https://64.media.tumblr.com/9047d35f1ad89106c47e968ea4c7db70/31edb05a278d2403-34/s1280x1920/a4f80ba04eee73cb1a52c1c8f6b86f047b92b5f7.jpg);
        --wideImage: url(https://64.media.tumblr.com/9047d35f1ad89106c47e968ea4c7db70/31edb05a278d2403-34/s1280x1920/a4f80ba04eee73cb1a52c1c8f6b86f047b92b5f7.jpg);
    }

    &.ainara {
        --rgb: 164, 138, 189;
    }

    &.ambrose,
    .totl.m-995 & {
        --rgb: 143, 109, 101;
        --rgb-dark: 115, 73, 63;
    }

    &.alastair,
    &.al,
    &.gb-635 {
        --rgb: 217, 155, 136;
        --rgb-dark: 208, 131, 107;
        --postImage: url(https://64.media.tumblr.com/6347429a4882a828c9e509a9569570f5/tumblr_p2mo6ipVzd1vz2ghao8_250.gif);
    }

    &.alya,
    &.gb-331 {
        --rgb: 107,126,103;
        --postImage: url(https://64.media.tumblr.com/0c053a114f79d908b4e75c0379917b7b/09483cbf07989c08-88/s1280x1920/445f165388d2e2b9e5a0e8cf3a7b25796715eafb.jpg);
    }

    &.alexander,
    &.andy {
        --rgb: 123, 57, 57;
        --rgb-dark: 90, 8, 8;
    }

    &.antoni,
    .totl.m-856 & {
        --rgb: 122, 164, 195;
        --rgb-dark: 89, 142, 181;
    }

    &.archer,
    .totl.m-669 & {
        --rgb: 207, 153, 105;
        --rgb-dark: 196, 128, 68;
    }

    &.art,
    .totl.m-1567 & {
        --rgb: 177, 193, 193;
    }

    &.avery,
    .totl.m-1147 & {
        --rgb: 178, 180, 146;
        --rgb-dark: 134, 136, 107;
    }

    &.basil,
    .totl.m-261 & {
        --rgb: 152, 158, 145;
        --rgb-dark: 127, 134, 118;
    }

    &.benji {
        --rgb: 221, 189, 128;
    }

    &.brennan,
    &.gb-175 {
        --rgb: 118, 132, 92;
        --rgb-dark: 84, 102, 52;
        --postImage: url(https://64.media.tumblr.com/74095c7658b8d2d8fb78776dc86188a3/tumblr_oo8zv9JIkT1vlcymso1_500.gif);
    }

    &.bryn,
    .totl.m-670 &,
    &.gb-328 {
        --rgb: 155, 209, 186;
        --rgb-dark: 130, 198, 169;
        --postImage: url(https://64.media.tumblr.com/2cf6853be602a9c27a64b2878235d245/255b4de1638d9f68-e3/s1280x1920/d03354d0af439c49e5775424f098c45051d9f836.jpg);
    }

    &.cameron,
    &.cam,
    .totl.m-1146 & {
        --rgb: 111, 121, 106;
    }

    &.casper,
    &.cas,
    &.wthi-17 {
        --rgb: 175, 132, 116;
        --rgb-dark: 156, 102, 82;
        --postImage: url(https://64.media.tumblr.com/3fba6e77a9c6461c12106bab1b0822e1/48bcfd99d39cc302-09/s250x400/6f5c6f085cdf5eff5e8128415c9e50ee447b91fa.gif);
        --wideImage: url(https://64.media.tumblr.com/fc61dcffd01a27b3afa7c89d6b5033a5/52ca7e8f8167a572-17/s500x750/d8b109a39676b33952c873d3f377200b2bdc7df2.gif);
    }

    &.cassiopeia,
    &.cassie,
    &.gb-490 {
        --rgb: 166, 138, 172;
        --postImage: url(https://64.media.tumblr.com/0df62c1b3fb4688c43a74907af59b146/8d21545ec67571e1-20/s1280x1920/0cc8d6a5ffc1561af18e18ef134870d075fee84f.gif);
    }

    &.catarina,
    &.cat,
    .totl.m-855 & {
        --rgb: 202, 143, 126;
        --rgb-dark: 189, 116, 94;
    }

    &.christopher,
    &.chris,
    &.nikola,
    &.tesla,
    &.gb-271,
    &.wthi-45 {
        --rgb: 104,118,139;
        --rgb-dark: 67, 84, 111;
        --postImage: url(https://64.media.tumblr.com/9ac89f48e2f61ed892fcefb1ea3537e7/tumblr_p2mleuhBzQ1vz2ghao7_250.gif);
        --wideImage: url(https://64.media.tumblr.com/edd648e1e8fd3de9aac9bbda4307ca1e/tumblr_p2mn217UQa1vz2ghao9_400.gif);

        .fox {
            --postImage: url(https://64.media.tumblr.com/c3f20f2a4c83585a96a65e65385e3e16/9a570f2874979637-e8/s1280x1920/513fd05f60c1940a24ba7032e1c54a635df3d590.jpg);
        }
    }

    &.connor,
    .totl.m-57 & {
        --rgb: 194, 175, 129;
        --rgb-dark: 179, 155, 98;
    }

    &.cordelia,
    &.corey {
        --rgb: 90, 79, 111;
        --rgb-dark: 49, 36, 76;
    }

    &.cynbel,
    &.cyn,
    &.gb-17 {
        --rgb: 101, 63, 63;
        --rgb-dark: 63, 15, 15;
        --postImage: url(https://64.media.tumblr.com/618e01719add1d676636deb576891574/f104b885346aef95-1d/s1280x1920/e7eb102d72bc038f97db53eb8eb2c2c814fba800.jpg);
    }

    &.dalton {
        --rgb: 129, 126, 141;
        --rgb-dark: 98, 94, 113;
    }

    &.damian,
    &.gb-226 {
        --rgb: 119,132,162;
        --rgb-dark: 119,132,162;
        --postImage: url(https://64.media.tumblr.com/af6c43a7a955a2206317958b4ba1a021/27d4a70554b926f7-80/s1280x1920/f78965d14a06e59673d040dd85de5b85779ab6d0.jpg);
    }

    &.daniel,
    &.dan {
        --rgb: 168, 168, 168;
    }

    &.darcy,
    .totl.m-395 & {
        --rgb: 187, 160, 197;
        --rgb-dark: 171, 137, 183;
    }

    &.diana,
    .totl.m-906 & {
        --rgb: 106, 109, 143;
        --rgb-dark: 69, 73, 115;
    }

    &.diego,
    .totl.m-1578 & {
        --rgb: 87, 116, 147;
    }

    &.draco,
    .totl.m-408 & {
        --rgb: 71, 88, 66;
        --rgb-dark: 26, 47, 19;
    }

    &.duncan,
    &.duck,
    .totl.m-58 &,
    &.gb-329 {
        --rgb: 153, 126, 143;
        --rgb-dark: 128, 94, 115;
        --postImage: url(https://64.media.tumblr.com/d793bd29255a4d83e854080a9194c968/tumblr_ph2abyvj0i1xz9gf8o6_500.png);
    }

    &.elias {
        --rgb: 99, 99, 99;
        --rgb-dark: 60, 60, 60;
    }

    &.ellis,
    .totl.m-705 & {
        --rgb: 232, 151, 127;
        --rgb-dark: 227, 126, 95;
    }

    &.emmalina,
    &.emma,
    .totl.m-273 &,
    &.gb-593,
    &.wthi-10 {
        --rgb: 223, 186, 199;
        --rgb-dark: 215, 169, 186;
        --on-accent: rgb(45, 45, 45);
        --postImage: url(https://64.media.tumblr.com/dcc69eeae4787614c6b9baf63b6f509b/1890138647412025-f3/s1280x1920/dd9b164fd29668af6c148403ff829d7cd7ae1645.jpg);
        --wideImage: url(https://64.media.tumblr.com/ef43c2252eadc0f6e76d37652d83fb5a/1890138647412025-1d/s1280x1920/94954579c1dc12bae629bd0b081d4d8b1646a875.jpg);
        --postImagePosition: bottom;
    }

    &.evangeline,
    &.evan,
    .totl.m-317 &,
    &.gb-418 {
        --rgb: 115, 69, 51;
        --rgb-dark: 81, 23, 0;
        --postImage: url(https://64.media.tumblr.com/fade9db2e45f89ff10655bdfe8bfa541/72c0954278f30be9-7c/s400x600/85fc7c4010453179ab9065ad941d8b25f08b60f7.gif);
    }

    &.everest,
    .totl.m-1577 & {
        --rgb: 77, 26, 26;
    }

    &.felicity,
    &.fee,
    .totl.m-588 & {
        --rgb: 159, 120, 123;
        --rgb-dark: 136, 87, 91;
    }

    &.fiore,
    &.fio,
    &.gb-685,
    &.wthi-8 {
        --rgb: 159, 80, 113;
        --postImage: url(https://64.media.tumblr.com/465f38d22c2b7d06a7da5da87767e9ee/5ef0677be384507c-bd/s1280x1920/0d8cd9f0b212cfa0c073aaad1b876c5f13a6ae10.jpg);
        --wideImage: url(https://64.media.tumblr.com/a56abb1d0335368bc8750b6442cbfbed/5ef0677be384507c-59/s1280x1920/f58e999565ab4b9cfc4f5055f7db67b4ebbba19a.jpg);
    }

    &.gabriel,
    &.gabe {
        --rgb: 167, 182, 154;
        --rgb-dark: 146, 164, 129;
    }

    &.gavin,
    .totl.m-901 & {
        --rgb: 141, 163, 141;
        --rgb-dark: 113, 140, 113;
    }

    &.genevieve,
    &.gen,
    .totl.m-587 & {
        --rgb: 202, 182, 200;
        --rgb-dark: 145, 92, 139;
    }

    &.gideon,
    &.wthi-104,
    &.gb-941 {
        --rgb: 80, 96, 120;
        --postImage: url(https://64.media.tumblr.com/14db12bf938c6bd79d428a8ab9efc44a/20b1cc5f7cd7f757-e2/s1280x1920/3d840ebe350a0eca8f5525ec73d71fb205202b59.jpg);
        --wideImage: url(https://64.media.tumblr.com/14db12bf938c6bd79d428a8ab9efc44a/20b1cc5f7cd7f757-e2/s1280x1920/3d840ebe350a0eca8f5525ec73d71fb205202b59.jpg);
    }

    &.grace,
    .totl.m-1565 & {
        --rgb: 204, 176, 176;
    }

    &.graeme {
        --rgb: 206, 174, 97;
    }

    &.griffin,
    .totl.m-1356 & {
        --rgb: 146, 158, 159;
    }

    &.hai,
    &.liu,
    &.gb-732 {
        --rgb: 101, 108, 108;
        --postImage: url(https://64.media.tumblr.com/7c0298bd123de47d9879c47c363b54af/6f257d31caab1d38-5a/s1280x1920/3d8aa52ee9dda74002037d4a9b2fdfb779797506.jpg);
        --postImagePosition: top;

        .dragon {
            --postImage: url(https://i.pinimg.com/736x/06/87/b0/0687b061654b561b3dfe4786ce27f2d5.jpg);
            --postImagePosition: center;
        }
    }

    &.hallie,
    .totl.m-836 & {
        --rgb: 184, 144, 158;
        --rgb-dark: 167, 117, 134;
    }

    &.hanne,
    &.gb-656 {
        --rgb: 111, 91, 130;
        --rgb-dark: 90, 74, 105;
        --postImage: url(https://64.media.tumblr.com/66bb4369c1afa72ac277e68ed07c7fa2/b9ea0d22c7c30737-eb/s1280x1920/8c196ca31e9bd426ffb8c175552b0e40be7e6df8.jpg);
    }

    &.harley,
    &.gb-611 {
        --rgb: 200, 176, 191;
        --rgb-dark: 187, 157, 175;
        --postImage: url(https://64.media.tumblr.com/c1003be3f2640da516e73f8e30139f97/a2b0567dca8400b1-96/s540x810/97483a753024434459733feb4d8e2e817cb05348.gif);
    }

    &.harriet,
    &.harry,
    &.helen,
    &.gb-263,
    &.wthi-49 {
        --rgb: 208,183,190;
        --postImage: url(https://64.media.tumblr.com/2ce76781ffb02920923703d0fef77be1/dc693759869c3a18-ad/s400x600/b5f65ed2788462e505e45b44e7e603db7b121b6e.gif);
        --wideImage: url(https://64.media.tumblr.com/2ce76781ffb02920923703d0fef77be1/dc693759869c3a18-ad/s400x600/b5f65ed2788462e505e45b44e7e603db7b121b6e.gif);

        .unicorn {
            --postImage: url(https://i.pinimg.com/564x/08/b6/5f/08b65f43f45c642e73881fe826b51c0b.jpg);
        }
    }

    &.hayden,
    &.hayd,
    &.gb-246,
    &.wthi-33 {
        --rgb: 115, 126, 103;
        --rgb-dark: 81, 94, 65;
        --postImage: url(https://64.media.tumblr.com/ad387123c3e518aa9e150bbcf1e15516/d11abbca8359c565-51/s640x960/b1cf93f0046344b9d0c85a650242094db89eba65.jpg);
        --wideImage: url(https://64.media.tumblr.com/52e0b2b5d8df16be2906747ffd8c6b6a/d11abbca8359c565-2a/s640x960/caa2500dd4329fe1674806e9bbcaf0375ccefa27.jpg);
    }

    &.heiko,
    .totl.m-750 & {
        --rgb: 197, 187, 181;
        --rgb-dark: 183, 170, 163;
    }

    &.hiroki,
    &.hiro,
    .totl.m-1088 & {
        --rgb: 146, 183, 188;
        --rgb-dark: 119, 165, 172;
    }

    &.holly,
    .totl.m-1354 &,
    &.gb-115 {
        --rgb: 183,133,79;
        --postImage: url(https://64.media.tumblr.com/93067679a02efe45781a7b31a84ec427/91e599f7e3b9f80f-d1/s250x400/91f2a4a8e22504b7a939a0f9cc2676d2442d5878.gif);
    }

    &.irina,
    &.iri,
    .totl.m-1145 & {
        --rgb: 17, 74, 108;
    }

    &.isaiah,
    &.gb-117 {
        --rgb: 135,151,148;
        --postImage: url(https://64.media.tumblr.com/c0322baa9058f1738f974cddb2150d9c/d8c88430f183597b-e6/s1280x1920/7b83f3c9077c9b3e2c68de2c1278e3f2981bcf3e.jpg);
    }

    &.isobel,
    &.isa,
    &.belle,
    &.gb-153 {
        --rgb: 213, 188, 204;
        --postImage: url(https://64.media.tumblr.com/eb0dd5b6ec04ae4812b4e22f878ad9bc/acb9348dbf8cb67a-75/s1280x1920/33c8f6552e96ae7d308fe48e61cf74f6b97feef2.png);
    }

    &.jasper,
    &.jazz,
    .totl.m-264 & {
        --rgb: 171, 147, 159;
        --rgb-dark: 150, 121, 136;
    }

    &.jesse,
    &.gb-79 {
        --rgb: 210, 193, 166;
        --postImage: url(https://64.media.tumblr.com/a2ef7dbf678361d0c594fb7e8f1c5833/af990ad6c68dd970-ff/s1280x1920/93d23a77350f93249a804acde644987bf29c1ef6.jpg);

        .horse {
            --postImage: url(https://64.media.tumblr.com/c1214b1bb4c486b4e9556549c928ec69/5bd5c6896aa51c05-b5/s640x960/3f3c35729150710a1058a7ee7e28811255510d29.jpg);
        }

        .falcon {
            --postImage: url(https://64.media.tumblr.com/1fc105b829df6e1d0ab580db40a25a8c/346a0e89cb6603db-2b/s2048x3072/a4b5f211a11708e30b80d9fa403f260342f25051.jpg);
        }

        .wolf {
            --postImage: url(https://64.media.tumblr.com/bbee151e9777f3c5757859c14c31ecff/346a0e89cb6603db-eb/s1280x1920/7aba5b79e214e24caa9764ef1c17f27c9280cd97.jpg);
        }
    }

    &.jude,
    &.gb-429 {
        --rgb: 204, 210, 196;
        --postImage: url(https://64.media.tumblr.com/f9ffa99896dd22412c1ba2fa8744ee60/dba77a4021045760-8d/s1280x1920/7a2b12329dc0efbef0907a75a01595b36a82c3db.gif);
    }

    &.kit {
        --rgb: 217, 195, 167;
        --rgb-dark: 208, 181, 146;
    }

    &.kristopher,
    &.kris,
    .totl.m-1324 & {
        --rgb: 160, 181, 162;
    }

    &.lance,
    .totl.m-1355 & {
        --rgb: 213, 181, 105;
    }

    &.liam,
    &.buck,
    &.wthi-81 {
        --rgb: 97, 99, 82;
        --postImage: url(https://files.jcink.net/uploads2/wherethehellis//av-81.jpg?1723638428);
        --wideImage: url(https://64.media.tumblr.com/67f90beba92b54311d6e19193ee0533d/f71be1b8199a8109-6d/s1280x1920/347faaabebfe59b56d1d21fbf6d92651426200cb.jpg);
    }

    &.lily,
    &.wthi-82 {
        --rgb: 126, 73, 52;
        --postImage: url(https://64.media.tumblr.com/f426c98f752ec6c255442b436ecca982/926fff7a7ade6cdc-3b/s1280x1920/f7ed9534f1df2dd7d11200608083be8359b6ba3a.gif);
        --wideImage: url(https://64.media.tumblr.com/f426c98f752ec6c255442b436ecca982/926fff7a7ade6cdc-3b/s1280x1920/f7ed9534f1df2dd7d11200608083be8359b6ba3a.gif);
    }

    &.lincoln,
    &.link,
    &.gb-430 {
        --rgb: 81, 105, 130;
        --postImage: url(https://64.media.tumblr.com/75bff6e4bd2f89f8efc5ce86554ca76b/4c1713a289ca5989-90/s1280x1920/83f2f48a661e956186a9389a7eedc5233b48d40d.jpg);
        --postImagePosition: top;
    }

    &.lorelei,
    &.lore {
        --rgb: 191, 117, 81;
    }

    &.lottie,
    .totl.m-315 & {
        --rgb: 212, 161, 168;
        --rgb-dark: 202, 138, 147;
    }

    &.luisa,
    &.lou {
        --rgb: 183, 133, 79;
        --rgb-dark: 166, 103, 36;
    }

    &.magnolia,
    &.maggie,
    .totl.m-56 & {
        --rgb: 107, 126, 103;
        --rgb-dark: 70, 94, 66;
    }

    &.malcolm,
    &.mal,
    .totl.m-853 &,
    &.gb-80,
    &.wthi-9 {
        --rgb: 99, 92, 92;
        --rgb-dark: 60, 52, 52;
        --postImage: url(https://64.media.tumblr.com/b6418aa64cf9ed7c5a5d83acb5206f43/tumblr_p3wz67wAPP1vz2ghao4_640.jpg);
        --wideImage: url(https://64.media.tumblr.com/b6418aa64cf9ed7c5a5d83acb5206f43/tumblr_p3wz67wAPP1vz2ghao4_640.jpg);
    }

    &.malik {
        --rgb: 80, 94, 126;
        --rgb-dark: 37, 54, 94;
    }

    &.marica,
    &.mari,
    .totl.m-1089 & {
        --rgb: 175, 112, 106;
        --rgb-dark: 155, 77, 69;
    }

    &.marlowe,
    &.mar,
    &.gb-69 {
        --rgb: 181, 196, 202;
        --rgb-dark: 133, 147, 153;
        --postImage: url(https://64.media.tumblr.com/138253abd33f1eb8f0901eea866e701b/81225a0a408d6181-a0/s250x400/eaf7782a851d75c249460b724e9a4b51520c83ee.gif);
    }

    &.maverick,
    &.mav {
        --rgb: 185, 135, 129;
        --rgb-dark: 168, 105, 98;
    }

    &.michel,
    &.gb-626 {
        --rgb: 181, 178, 177;
        --postImage: url(https://64.media.tumblr.com/c664346c3755d43f2ba293a319b0636a/032c429b9900fe2a-d3/s1280x1920/78305b774ef065304f67906cd0117189608b5243.jpg);

        .pegasus {
            --postImage: url(https://i.pinimg.com/564x/fb/fc/16/fbfc169359d18ac825d3f84c0de4dedf.jpg);
            --postImagePosition: top;
        }
    }

    &.milo,
    .totl.m-112 & {
        --rgb: 220, 163, 147;
        --rgb-dark: 212, 141, 121;
    }

    &.montana,
    &.monty,
    .totl.m-59 & {
        --rgb: 135, 151, 148;
        --rgb-dark: 106, 125, 122;
    }

    &.morgan,
    &.gb-70 {
        --rgb: 151, 151, 171;
        --rgb-dark: 126, 125, 150;
        --postImage: url(https://64.media.tumblr.com/49246853b03feeea03a5bbd000013493/de6a6b86eb223447-f2/s500x750/1cca94b1f3e940237626312fe485652aae8052b2.gif);
        --postImagePosition: left;
    }

    &.naomi,
    &.wthi-11,
    &.gb-825 {
        --rgb: 165, 155, 168;
        --on-accent: rgb(45, 45, 45);
        --postImage: url(https://64.media.tumblr.com/53a9e899bfe66e9d42f2aef0ce90c1e2/9d0622e23af270f0-9c/s1280x1920/a3899ac773d7cfcee1794ab680ffddd1dbd8dc2f.gif);
        --wideImage: url(https://64.media.tumblr.com/2b405761b946601395ff67d10951a061/9d0622e23af270f0-1d/s1280x1920/2cd372380e33bc99c49f10596cbc002a410eeadc.gif);

        .raccoon {
            --postImage: url(https://i.pinimg.com/564x/f1/82/c1/f182c1a8d3eecdaf4486c689777afb82.jpg);
            --wideImage: url(https://i.pinimg.com/564x/f1/82/c1/f182c1a8d3eecdaf4486c689777afb82.jpg);
        }
    }

    &.nayara,
    &.naya,
    .totl.m-905 & {
        --rgb: 187, 118, 131;
        --rgb-dark: 170, 84, 100;
    }

    &.nikolas,
    &.nik,
    &.niko,
    .totl.m-54 &,
    &.gb-3,
    &.wthi-3 {
        --rgb: 142, 173, 179;
        --rgb-dark: 114, 153, 160;
        --on-accent: rgb(45, 45, 45);
        --postImage: url(https://64.media.tumblr.com/591aa501b27fd6aaa07a701ed88c0586/af6fdf304f4c49a1-d0/s250x400/3c7aa9195a1113e38f9367d486fce880243150ce.jpg);
        --wideImage: url(https://64.media.tumblr.com/9c7fccb136d4c4b09f64d1b6bcadc382/af6fdf304f4c49a1-4f/s1280x1920/1dc83b8ec309719f42885eef53e85b86c0a4fd23.jpg);

        .raven {
            --postImage: url(https://i.pinimg.com/564x/4c/1a/26/4c1a265e8698f166c9da04caec838b59.jpg);
        }
    }

    &.nimue,
    &.nim,
    .totl.m-902 & {
        --rgb: 191, 177, 188;
        --rgb-dark: 176, 158, 172;
    }

    &.noah,
    .totl.m-314 & {
        --rgb: 155, 167, 142;
        --rgb-dark: 130, 146, 114;
    }

    &.oliver,
    &.oli,
    &.wthi-103 {
        --rgb: 200, 150, 119;
        --rgb-dark: 187, 124, 86;
        --postImage: url(https://files.jcink.net/uploads2/wherethehellis//av-103.jpg?1724872121);
        --wideImage: url(https://64.media.tumblr.com/dc904bb1779d71597647e832c79f6f8d/tumblr_p2j6khVJAw1vz2ghao2_1280.jpg);
    }

    &.percy,
    .totl.m-482 & {
        --rgb: 168, 143, 128;
        --rgb-dark: 145, 102, 76;
    }

    &.persephone,
    &.sephi {
        --rgb: 163, 101, 145;
        --rgb-dark: 141, 63, 118;
    }

    &.raphael,
    &.raph,
    &.ben,
    &.loki,
    &.cain,
    .totl.m-854 &,
    &.gb-8 {
        --rgb: 149, 165, 71;
        --rgb-dark: 123, 143, 26;
        --postImage: url(https://64.media.tumblr.com/cdf7209f27043503a9c40ccf10c3d6e8/769762ce2643cedc-71/s540x810/687713871d54183e9fa56a5ab302bb630d8bf74f.gif);
    }

    &.rebecca,
    .totl.m-994 & {
        --rgb: 211, 202, 195;
        --rgb-dark: 200, 189, 181;
    }

    &.reed,
    &.gb-584 {
        --rgb: 191, 101, 101;
        --postImage: url(https://64.media.tumblr.com/4210f442230f205fbd3928884d767f53/de5b0746707e63dd-d8/s1280x1920/a2a61daffc28fd0c4b77f20d9c69cda5df3dc3a8.jpg);
    }

    &.remy,
    &.gb-44 {
        --rgb: 151, 180, 173;
        --rgb-dark: 125, 162, 153;
        --postImage: url(https://64.media.tumblr.com/22cb19fd322e01f0c0997a97bb0ce535/tumblr_p3wy0d3PRq1vz2ghao2_500.jpg);
    }

    &.renata,
    &.ren,
    .totl.m-701 & {
        --rgb: 7, 116, 90;
        --rgb-dark: 88, 142, 151;
    }

    &.riley,
    &.gb-637 {
        --rgb: 206, 185, 135;
        --postImage: url(https://64.media.tumblr.com/5360f6f11b1dc0cea6e1d3f3a6efc38f/04f2d4a53730ebe8-da/s1280x1920/56302f7684a5a86f0297363c5643942ff4033e54.jpg);
    }

    &.riordan,
    &.rory,
    &.gb-154,
    &.wthi-16 {
        --rgb: 159, 157, 150;
        --rgb-dark: 136, 134, 126;
        --postImage: url(https://64.media.tumblr.com/434fab39ec0498aa76292669410eba13/cc781a69d683e7d7-7e/s1280x1920/d903af61d207154704ab8498ee47b9d9d6887f3d.jpg);
        --wideImage: url(https://64.media.tumblr.com/b2fed84e8a19723cb45acb0a8ec63731/cc781a69d683e7d7-b8/s1280x1920/1f42391af20a85077e23c2d39f033fcec94a1f3d.gif);
    }

    &.riven,
    &.riv {
        --rgb: 151, 159, 170;
        --rgb-dark: 125, 136, 149;
    }

    &.ryan,
    .totl.m-589 & {
        --rgb: 214, 189, 114;
        --rgb-dark: 204, 173, 79;
    }

    &.salih,
    &.sal {
        --rgb: 219, 145, 123;
        --rgb-dark: 210, 118, 90;
    }

    &.sarah,
    .totl.m-1358 & {
        --rgb: 196, 212, 213;
    }

    &.satiah,
    &.tia,
    &.gb-43 {
        --rgb: 197, 160, 128;
        --rgb-dark: 183, 137, 97;
        --postImage: url(https://64.media.tumblr.com/6bd3f7eeb1127ee49dd5c91d8b370c85/tumblr_pylo3jNAqX1vz2ghao8_1280.jpg);
        --postImagePosition: left;

        .hyena {
            --postImage: url(https://64.media.tumblr.com/8d06c0e400c17a58640e5189f25e22e9/f0de2eaea190b385-78/s1280x1920/7c82705ddee0ca13acd4ad5964e33729746e372b.jpg);
            --postImagePosition: center;
        }
    }

    &.sebastian,
    &.seb,
    &.bash,
    &.gb-227 {
        --rgb: 197,187,181;
        --postImage: url(https://64.media.tumblr.com/525d0db67d6e823adf81276766d4bb22/09d0430af12e9787-fa/s1280x1920/97fcb45cd5d386403c558d22ee9c2e0274282420.png);

        .dog {
            --postImage: url(https://i.pinimg.com/564x/c9/73/ec/c973ecf1090f191ad1de286ebbf4ba03.jpg);
        }
    }

    &.silas,
    &.gb-116 {
        --rgb: 158, 181, 187;
        --postImage: url(https://64.media.tumblr.com/2b85cbd37e24e49578f48a29a1715fc7/bfa5a23c90156cf7-d3/s1280x1920/304dc6ecd900ff49ab8e2a5aecf5e057f129ec48.jpg);
    }

    &.simon,
    .totl.m-265 &,
    &.wthi-30 {
        --rgb: 180, 199, 129;
        --rgb-dark: 162, 185, 98;
        --on-accent: rgb(45, 45, 45);
        --wideImage: url(https://64.media.tumblr.com/7c52fa58ad4c70ad8614e5a6dc11aada/tumblr_p7b449OTei1wxbpmuo2_540.gif);
    }

    &.sorren,
    .totl.m-702 &,
    &.gb-636 {
        --rgb: 97, 79, 79;
        --rgb-dark: 58, 35, 35;
        --postImage: url(https://64.media.tumblr.com/1f7173b431a96525b873526ec13c2cb6/tumblr_p2imgnm4VN1vz2ghao3_250.png);
    }

    &.spencer,
    &.spence,
    .totl.m-862 &,
    &.gb-45,
    &.wthi-52 {
        --rgb: 138, 151, 174;
        --rgb-dark: 109, 125, 154;
        --postImage: url(https://64.media.tumblr.com/f3cbeb06c988e0c6ab6af8911cfeea4a/tumblr_p2s9rxYaMm1vz2ghao1_1280.jpg);
        --wideImage: url(https://64.media.tumblr.com/f3cbeb06c988e0c6ab6af8911cfeea4a/tumblr_p2s9rxYaMm1vz2ghao1_1280.jpg);
    }

    &.sterling,
    &.matteo,
    &.matty,
    .totl.m-907 &,
    &.gb-16 {
        --rgb: 207, 167, 52;
        --rgb-dark: 196, 145, 2;
        --postImage: url(https://64.media.tumblr.com/9cd2ad95eeaefc08ccbb7f011efd5ab1/c4a88870f28cf267-27/s1280x1920/40a19c8a21ad45069a33fd4621794f5426532c1a.jpg);
    }

    &.thomas,
    &.tom,
    &.tommy,
    .totl.m-863 & {
        --rgb: 183, 207, 150;
        --rgb-dark: 166, 196, 124;
    }

    &.tobias,
    &.fletch,
    &.fletcher,
    &.toby,
    .totl.m-60 & {
        --rgb: 137, 143, 121;
        --rgb-dark: 108, 115, 88;
    }

    &.vitae,
    &.vee,
    &.gb-6 {
        --rgb: 111, 77, 77;
        --rgb-dark: 76, 33, 33;
        --postImage: url(https://64.media.tumblr.com/60ed9e156c6076fc309080bb40fc4f89/tumblr_pehwdpjqpX1r3i2gwo5_540.gif);

        .dragon {
            --postImage: url(https://i.pinimg.com/564x/7b/f8/c9/7bf8c94fe64b60ea00b5b29b31161390.jpg);
        }
    }

    &.viveka,
    &.viv,
    &.gb-330 {
        --rgb: 185,135,129;
        --postImage: url(https://64.media.tumblr.com/0f6f62fa30e7e2200af6b61b4a25b4a7/dbba5b4109c080d8-c1/s1280x1920/7c94bfc621670470ee68e00be8f76a4ffe8b7ca3.gif);

        .dog {
            --postImage: url(https://i.pinimg.com/564x/c8/5b/e3/c85be3ef1ed622ef582eea95ad9d5715.jpg);
        }
    }

    &.willa,
    &.gb-718 {
        --rgb: 127, 116, 143;
        --postImage: url(https://64.media.tumblr.com/1cf8196f36992cf7d9cef36b98773d9b/b3e0aff80db774ca-dc/s1280x1920/d5fb8aa3ca475307aeae21c7dbbd412e4def7f05.jpg);
        --postImagePosition: top center;

        .serpent {
            --postImage: url(https://i.pinimg.com/564x/68/4d/41/684d419c54e727cd816e4ac894ecd2c1.jpg);
        }
    }

    &.william,
    &.will,
    .totl.m-1148 &,
    &.gb-657 {
        --rgb: 177, 181, 160;
        --postImage: url(https://64.media.tumblr.com/b52ff31f1064f8029e1cc27cd7dd05b1/e24e6b7fcd6bbb2b-6f/s500x750/754dbba335753a4d861ea74365b263274575f2eb.gif);

        .hawk {
            --postImage: url(https://i.pinimg.com/564x/32/ca/c3/32cac301c59baaf5aeff0792c8fe2b30.jpg);
        }
    }
}