.lux-track,
.lux,
.parent-1 {
    --defaultPostImage: url(https://files.jcink.net/uploads2/godlybehaviour/GB24/forum_guidebook_min.jpg);

    &,
    .light &,
    .dark & {
        --accent: rgb(var(--rgb));
        --dkAccent: rgb(var(--rgb-dark, var(--rgb)));
    }

    .totl &,
    &.gb tag-wrap,
    &.gb tag-comm,
    &.gb tag-social {
        //shared
        .light & {
            --accent: rgb(var(--rgb-dark, var(--rgb)));
        }
        body:not(.light) & {
            --accent: rgb(var(--rgb));
        }

        //gb only
        --accent-20: rgba(var(--rgb), 0.2);
        --bg-color: var(--accent);
        --bg-color-transparent: var(--accent-20);
        --text-color: var(--accent);
        --border-color: var(--accent);

        //gb:et only
        --border-accent: var(--accent);
        --bg-accent: var(--accent);
        --bg-accent-solid: var(--accent);
        --bg-accent-30: var(--accent-30);
        --bg-accent-50: var(--accent-50);
        --text-accent: var(--accent);
        //shared
        .light & {
            --accent-30: rgba(var(--rgb-dark, var(--rgb)), 0.3);
            --accent-50: rgba(var(--rgb-dark, var(--rgb)), 0.5);
            --accent-90: rgba(var(--rgb-dark, var(--rgb)), 0.8);
        }
        body:not(.light) & {
            --accent-30: rgba(var(--rgb), 0.3);
            --accent-50: rgba(var(--rgb), 0.5);
            --accent-90: rgba(var(--rgb), 0.8);
        }

        //totl only
        --ltaccent: rgb(var(--rgb));
        --ltaccent-40: rgba(var(--rgb), 0.4);
        --ltaccent-55: rgba(var(--rgb), 0.55);
    }

    et-image::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background-size: cover;
        background-position: center;
        background-image: var(--postImage, var(--defaultPostImage));
        z-index: 1;
    }
    et-tag {
        z-index: 10;
    }
    
    &.abigail,
    &.abby,
    .totl.m-1608 &,
    &.gb-71 {
        --rgb: 212,161,168;
    }
    
    &.adaline,
    &.addie,
    .totl.m-157 & {
        --rgb: 167, 115, 129;
        --rgb-dark: 145, 80, 98;
    }

    &.aiden,
    .totl.m-838 &,
    &.gb-7 {
        --rgb: 136, 163, 151;
        --rgb-dark: 107, 140, 126;
        --postImage: url(https://64.media.tumblr.com/9047d35f1ad89106c47e968ea4c7db70/31edb05a278d2403-34/s1280x1920/a4f80ba04eee73cb1a52c1c8f6b86f047b92b5f7.jpg);
    }

    &.ainara {
        --rgb: 164, 138, 189;
    }

    &.ambrose,
    .totl.m-995 & {
        --rgb: 143, 109, 101;
        --rgb-dark: 115, 73, 63;
    }

    &.alastair,
    &.al {
        --rgb: 217, 155, 136;
        --rgb-dark: 208, 131, 107;
    }

    &.alya,
    &.gb-331 {
        --rgb: 107,126,103;
    }

    &.alexander,
    &.andy {
        --rgb: 123, 57, 57;
        --rgb-dark: 90, 8, 8;
    }

    &.antoni,
    .totl.m-856 & {
        --rgb: 122, 164, 195;
        --rgb-dark: 89, 142, 181;
    }

    &.archer,
    .totl.m-669 & {
        --rgb: 207, 153, 105;
        --rgb-dark: 196, 128, 68;
    }

    &.art,
    .totl.m-1567 & {
        --rgb: 177, 193, 193;
    }

    &.avery,
    .totl.m-1147 & {
        --rgb: 178, 180, 146;
        --rgb-dark: 134, 136, 107;
    }

    &.basil,
    .totl.m-261 & {
        --rgb: 152, 158, 145;
        --rgb-dark: 127, 134, 118;
    }

    &.raphael,
    &.raph,
    &.ben,
    &.loki,
    &.cain,
    .totl.m-854 &,
    &.gb-8 {
        --rgb: 149, 165, 71;
        --rgb-dark: 123, 143, 26;
    }

    &.benji {
        --rgb: 221, 189, 128;
    }

    &.brennan,
    &.gb-175 {
        --rgb: 118, 132, 92;
        --rgb-dark: 84, 102, 52;
    }

    &.bryn,
    .totl.m-670 &,
    &.gb-328 {
        --rgb: 155, 209, 186;
        --rgb-dark: 130, 198, 169;
    }

    &.cameron,
    &.cam,
    .totl.m-1146 & {
        --rgb: 111, 121, 106;
    }

    &.casper,
    &.cas {
        --rgb: 175, 132, 116;
        --rgb-dark: 156, 102, 82;
    }

    &.cassiopeia,
    &.cassie,
    &.gb-490 {
        --rgb: 166, 138, 172;
    }

    &.catarina,
    &.cat,
    .totl.m-855 & {
        --rgb: 202, 143, 126;
        --rgb-dark: 189, 116, 94;
    }

    &.christopher,
    &.chris,
    &.nikola,
    &.tesla,
    &.gb-271 {
        --rgb: 104,118,139;
        --rgb-dark: 67, 84, 111;
    }

    &.connor,
    .totl.m-57 & {
        --rgb: 194, 175, 129;
        --rgb-dark: 179, 155, 98;
    }

    &.cordelia,
    &.corey {
        --rgb: 90, 79, 111;
        --rgb-dark: 49, 36, 76;
    }

    &.cynbel,
    &.cyn,
    &.gb-17 {
        --rgb: 101, 63, 63;
        --rgb-dark: 63, 15, 15;
    }

    &.dalton {
        --rgb: 129, 126, 141;
        --rgb-dark: 98, 94, 113;
    }

    &.damian,
    &.gb-226 {
        --rgb: 119,132,162;
        --rgb-dark: 119,132,162;
    }

    &.daniel,
    &.dan {
        --rgb: 168, 168, 168;
    }

    &.darcy,
    .totl.m-395 & {
        --rgb: 187, 160, 197;
        --rgb-dark: 171, 137, 183;
    }

    &.diana,
    .totl.m-906 & {
        --rgb: 106, 109, 143;
        --rgb-dark: 69, 73, 115;
    }

    &.diego,
    .totl.m-1578 & {
        --rgb: 87, 116, 147;
    }

    &.draco,
    .totl.m-408 & {
        --rgb: 71, 88, 66;
        --rgb-dark: 26, 47, 19;
    }

    &.duncan,
    &.duck,
    .totl.m-58 &,
    &.gb-329 {
        --rgb: 153, 126, 143;
        --rgb-dark: 128, 94, 115;
    }

    &.elias {
        --rgb: 99, 99, 99;
        --rgb-dark: 60, 60, 60;
    }

    &.ellis,
    .totl.m-705 & {
        --rgb: 232, 151, 127;
        --rgb-dark: 227, 126, 95;
    }

    &.emmalina,
    &.emma,
    .totl.m-273 &,
    &.gb-593 {
        --rgb: 223, 186, 199;
        --rgb-dark: 215, 169, 186;
    }

    &.evangeline,
    &.evan,
    .totl.m-317 &,
    &.gb-418 {
        --rgb: 115, 69, 51;
        --rgb-dark: 81, 23, 0;
    }

    &.everest,
    .totl.m-1577 & {
        --rgb: 77, 26, 26;
    }

    &.felicity,
    &.fee,
    .totl.m-588 & {
        --rgb: 159, 120, 123;
        --rgb-dark: 136, 87, 91;
    }

    &.gabriel,
    &.gabe {
        --rgb: 167, 182, 154;
        --rgb-dark: 146, 164, 129;
    }

    &.gavin,
    .totl.m-901 & {
        --rgb: 141, 163, 141;
        --rgb-dark: 113, 140, 113;
    }

    &.genevieve,
    &.gen,
    .totl.m-587 & {
        --rgb: 202, 182, 200;
        --rgb-dark: 145, 92, 139;
    }

    &.grace,
    .totl.m-1565 & {
        --rgb: 204, 176, 176;
    }

    &.graeme {
        --rgb: 206, 174, 97;
    }

    &.griffin,
    .totl.m-1356 & {
        --rgb: 146, 158, 159;
    }

    &.hallie,
    .totl.m-836 & {
        --rgb: 184, 144, 158;
        --rgb-dark: 167, 117, 134;
    }

    &.harley,
    &.gb-611 {
        --rgb: 200, 176, 191;
        --rgb-dark: 187, 157, 175;
    }

    &.harriet,
    &.harry,
    &.helen,
    &.gb-263 {
        --rgb: 208,183,190;
    }

    &.hayden,
    &.hayd,
    &.gb-246 {
        --rgb: 115, 126, 103;
        --rgb-dark: 81, 94, 65;
    }

    &.heiko,
    .totl.m-750 & {
        --rgb: 197, 187, 181;
        --rgb-dark: 183, 170, 163;
    }

    &.hiroki,
    &.hiro,
    .totl.m-1088 & {
        --rgb: 146, 183, 188;
        --rgb-dark: 119, 165, 172;
    }

    &.holly,
    .totl.m-1354 &,
    &.gb-115 {
        --rgb: 183,133,79;
    }

    &.irina,
    &.iri,
    .totl.m-1145 & {
        --rgb: 17, 74, 108;
    }

    &.isaiah,
    &.gb-117 {
        --rgb: 135,151,148;
    }

    &.isobel,
    &.isa,
    &.belle,
    &.gb-153 {
        --rgb: 213, 188, 204;
    }

    &.jasper,
    &.jazz,
    .totl.m-264 & {
        --rgb: 171, 147, 159;
        --rgb-dark: 150, 121, 136;
    }

    &.jesse,
    &.gb-79 {
        --rgb: 210, 193, 166;
    }

    &.jude,
    &.gb-429 {
        --rgb: 204, 210, 196;
    }

    &.kit {
        --rgb: 217, 195, 167;
        --rgb-dark: 208, 181, 146;
    }

    &.kristopher,
    &.kris,
    .totl.m-1324 & {
        --rgb: 160, 181, 162;
    }

    &.lance,
    .totl.m-1355 & {
        --rgb: 213, 181, 105;
    }

    &.lincoln,
    &.link,
    &.gb-430 {
        --rgb: 81, 105, 130;
    }

    &.lorelei,
    &.lore {
        --rgb: 191, 117, 81;
    }

    &.lottie,
    .totl.m-315 & {
        --rgb: 212, 161, 168;
        --rgb-dark: 202, 138, 147;
    }

    &.luisa,
    &.lou {
        --rgb: 183, 133, 79;
        --rgb-dark: 166, 103, 36;
    }

    &.magnolia,
    &.maggie,
    .totl.m-56 & {
        --rgb: 107, 126, 103;
        --rgb-dark: 70, 94, 66;
    }

    &.malcolm,
    &.mal,
    .totl.m-853 &,
    &.gb-80 {
        --rgb: 99, 92, 92;
        --rgb-dark: 60, 52, 52;
    }

    &.malik {
        --rgb: 80, 94, 126;
        --rgb-dark: 37, 54, 94;
    }

    &.marica,
    &.mari,
    .totl.m-1089 & {
        --rgb: 175, 112, 106;
        --rgb-dark: 155, 77, 69;
    }

    &.marlowe,
    &.mar,
    &.gb-69 {
        --rgb: 181, 196, 202;
        --rgb-dark: 133, 147, 153;
    }

    &.maverick,
    &.mav {
        --rgb: 185, 135, 129;
        --rgb-dark: 168, 105, 98;
    }

    &.milo,
    .totl.m-112 & {
        --rgb: 220, 163, 147;
        --rgb-dark: 212, 141, 121;
    }

    &.montana,
    &.monty,
    .totl.m-59 & {
        --rgb: 135, 151, 148;
        --rgb-dark: 106, 125, 122;
    }

    &.morgan,
    &.gb-70 {
        --rgb: 151, 151, 171;
        --rgb-dark: 126, 125, 150;
    }

    &.nayara,
    &.naya,
    .totl.m-905 & {
        --rgb: 187, 118, 131;
        --rgb-dark: 170, 84, 100;
    }

    &.nikolas,
    &.nik,
    &.niko,
    .totl.m-54 &,
    &.gb-3 {
        --rgb: 142, 173, 179;
        --rgb-dark: 114, 153, 160;
    }

    &.nimue,
    &.nim,
    .totl.m-902 & {
        --rgb: 191, 177, 188;
        --rgb-dark: 176, 158, 172;
    }

    &.noah,
    .totl.m-314 & {
        --rgb: 155, 167, 142;
        --rgb-dark: 130, 146, 114;
    }

    &.oliver,
    &.oli {
        --rgb: 200, 150, 119;
        --rgb-dark: 187, 124, 86;
    }

    &.percy,
    .totl.m-482 & {
        --rgb: 168, 143, 128;
        --rgb-dark: 145, 102, 76;
    }

    &.persephone,
    &.sephi {
        --rgb: 163, 101, 145;
        --rgb-dark: 141, 63, 118;
    }

    &.rebecca,
    .totl.m-994 & {
        --rgb: 211, 202, 195;
        --rgb-dark: 200, 189, 181;
    }

    &.reed,
    &.gb-584 {
        --rgb: 191, 101, 101;
    }

    &.remy,
    &.gb-44 {
        --rgb: 151, 180, 173;
        --rgb-dark: 125, 162, 153;
    }

    &.renata,
    &.ren,
    .totl.m-701 & {
        --rgb: 7, 116, 90;
        --rgb-dark: 88, 142, 151;
    }

    &.riordan,
    &.rory,
    &.gb-154 {
        --rgb: 159, 157, 150;
        --rgb-dark: 136, 134, 126;
    }

    &.riven,
    &.riv {
        --rgb: 151, 159, 170;
        --rgb-dark: 125, 136, 149;
    }

    &.ryan,
    .totl.m-589 & {
        --rgb: 214, 189, 114;
        --rgb-dark: 204, 173, 79;
    }

    &.salih,
    &.sal {
        --rgb: 219, 145, 123;
        --rgb-dark: 210, 118, 90;
    }

    &.sarah,
    .totl.m-1358 & {
        --rgb: 196, 212, 213;
    }

    &.satiah,
    &.tia,
    &.gb-43 {
        --rgb: 197, 160, 128;
        --rgb-dark: 183, 137, 97;
    }

    &.sebastian,
    &.seb,
    &.bash,
    &.gb-227 {
        --rgb: 197,187,181;
    }

    &.silas,
    &.gb-116 {
        --rgb: 158, 181, 187;
    }

    &.simon,
    .totl.m-265 & {
        --rgb: 180, 199, 129;
        --rgb-dark: 162, 185, 98;
    }

    &.sorren,
    .totl.m-702 & {
        --rgb: 97, 79, 79;
        --rgb-dark: 58, 35, 35;
    }

    &.spencer,
    &.spence,
    .totl.m-862 &,
    &.gb-45 {
        --rgb: 138, 151, 174;
        --rgb-dark: 109, 125, 154;
    }

    &.sterling,
    &.matteo,
    &.matty,
    .totl.m-907 &,
    &.gb-16 {
        --rgb: 207, 167, 52;
        --rgb-dark: 196, 145, 2;
    }

    &.thomas,
    &.tom,
    &.tommy,
    .totl.m-863 & {
        --rgb: 183, 207, 150;
        --rgb-dark: 166, 196, 124;
    }

    &.tobias,
    &.fletch,
    &.fletcher,
    &.toby,
    .totl.m-60 & {
        --rgb: 137, 143, 121;
        --rgb-dark: 108, 115, 88;
    }

    &.vitae,
    &.vee,
    &.gb-6 {
        --rgb: 111, 77, 77;
        --rgb-dark: 76, 33, 33;
    }

    &.viveka,
    &.viv,
    &.gb-330 {
        --rgb: 185,135,129;
    }

    &.william,
    &.will,
    .totl.m-1148 & {
        --rgb: 177, 181, 160;
    }
}