@import '../global/mixins.scss';

.charts {
    &--triple {
        display: grid;
        grid-template-columns: 100%;
        gap: var(--space--sm);
        margin: 0 auto var(--space--sm);

        @include mq-up(xs) {
            &:not(:has(.charts--number)) {
                grid-template-columns: repeat(2, calc((100% / 2) - ((var(--space--sm) * 1) / 2)));
            }
            &:has(.charts--number) {
                grid-template-columns: repeat(3, calc((100% / 3) - ((var(--space--sm) * 2) / 3)));
            }
        }

        @include mq-up(md) {
            grid-template-columns: repeat(3, calc((100% / 3) - ((var(--space--sm) * 2) / 3))) !important;
        }

        & > div {
            background: var(--bg--tertiary);
            border: var(--border--primary);
            padding: var(--space--lg);
        }
    }
    &--double {
        display: grid;
        grid-template-columns: 100%;
        gap: var(--space--sm);
        margin: 0 auto var(--space--sm);

        @include mq-up(sm) {
            grid-template-columns: repeat(2, calc((100% / 2) - ((var(--space--sm) * 1) / 2)));
        }

        & > div {
            background: var(--bg--tertiary);
            border: var(--border--primary);
            padding: var(--space--lg);
        }
    }
    &--single {
        display: grid;
        grid-template-columns: 100%;
        gap: var(--space--sm);
        margin: 0 auto var(--space--sm);

        & > div {
            background: var(--bg--tertiary);
            border: var(--border--primary);
            padding: var(--space--lg);
        }
    }

    &--number {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: 700;
        justify-content: center;
        align-items: center;

        b {
            font-family: var(--font--serif);
            font-size: 48px;
            line-height: 100%;
            font-weight: 700;
            letter-spacing: 0;
        }
    }

    &--breakdown {
        h2 {
            margin: 0 0 var(--space--md);
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 900;
            text-align: center;
        }
    }
}