@import '../global/mixins.scss';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--size--menu-width);
    height: 100vh;
    background: var(--bg--secondary);
    padding: 0 var(--space--xs);
    z-index: 4;
    border-right: var(--border--primary);

    @include mq-up(xs) {
        padding: 0 var(--space--sm);
    }

    &--inner {
        display: grid;
        grid-template-columns: 100%;

        a {
            padding: 0px!important;
        }

        button,
        a {
            display: block;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            gap: var(--space--sm);
            padding: 20px 0;
            width: 100%;
            color: var(--text--primary);
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 900;
            text-align: center;
            line-height: 200%;
            transition-duration: 0.3s;
            border: none;
            cursor: pointer;
            background: transparent;
            
            &:not(:last-child) {
                border-bottom: var(--border--primary);
            }

            i {
                color: var(--text-accent);
                font-size: 0.8rem;
                transition: 0.3s ease-in-out;

                @include mq-up(xs) {
                    font-size: 1rem;
                }
            }

            &:hover,
            &.is-open {
                background: var(--accent);
                color: var(--text--on-accent);
                i {
                    color: var(--text--primary);
                }
            }

            span {
                display: none;

                @include mq-up(sm) {
                    display: block;
                }
            }
        }
    }
}
.subnav {
    position: fixed;
    top: 0;
    left: calc(-1 * var(--size--submenu-width));
    width: var(--size--submenu-width);
    background: var(--bg--quaternary);
    z-index: 3;
    height: 100vh;
    padding: var(--space--md);
    transition-duration: 0.3s;
    opacity: 0;

    &.is-open {
        left: var(--size--menu-width);
        opacity: 1;
    }

    &--inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--space--xs);

        & > strong {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 0.625rem;
            letter-spacing: 0.1em;
            line-height: 160%;
            margin: var(--space--md) 0 0;
        }

        a {
            background: var(--bg--primary);
            border-left: var(--border--primary);
            padding: var(--space--xs) var(--space--sm);
            color: var(--text--primary);
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            transition: 0.3s ease-in-out;

            &:hover {
                border-color: var(--accent);
                color: var(--text--secondary);
            }
        }
    }
}