@import '../global/mixins.scss';

.records {
    display: grid;

    @include mq-up(xs) {
        grid-template-columns: var(--size--filters-width) calc(100% - var(--size--filters-width));
    }

    .filter--collapsible {
        height: calc(100% - 70px);
    }

    &--header {
        position: sticky;
        top: 0;
        background: var(--bg--quaternary);
        z-index: 2;
        border-right: var(--border--primary);
        padding: var(--space--md);
        height: 61px;

        @include mq-down(xs) {
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: var(--space--md);
        }

        @include mq-up(xs) {
            height: 100vh;
            padding: var(--space--md) 0 var(--space--md) var(--space--md);
        }

        p {
            text-align: center;
        }

        & > button:not(.records--toggle) {
            background: none;
            border: var(--border--primary);
            border-radius: var(--radius--standard);
            font-size: 9px;
            text-transform: uppercase;
            color: var(--text--primary);
            letter-spacing: 0.1em;
            font-weight: 700;
            line-height: 100%;
            padding: var(--space--sm);
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
                background: var(--accent);
                color: var(--text--secondary);
            }
        }

        & > hr {
            width: calc(100% - var(--space--md));

            @include mq-down(xs) {
                display: none;
            }
        }

        hr {
            border: 0;
            height: 1px;
            background: var(--border--primary-color);
            margin: var(--space--md) 0;
        }

        &:has([data-view="list" i]) {
            .heatmapOnly {
                display: none;
            }
        }

        &:has([data-view="heatmap" i]) {
            .listOnly {
                display: none;
            }
        }
    }
    &--toggle {
        background: none;
        width: calc(100% - var(--space--md));
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: var(--border--secondary);
        border-radius: 50px;
        margin-right: var(--space--md);
        padding: var(--space--xs) var(--space--sm);
        color: var(--text--primary);
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        transition: 0.3s ease-in-out;
        outline: none;
        cursor: pointer;
        text-align: left;
        overflow: auto;
        align-items: center;

        @include mq-down(xs) {
            order: 2;
            margin: 0;
            padding: 0 var(--space--xs);
            width: 100%;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: calc(50% + var(--space--sm));
            height: 100%;
            border-radius: 50px;
            background: var(--bg-accent);
            transition: 0.3s ease-in-out;

            @include mq-down(xs) {
                width: calc(50% + var(--space--xs));
            }
        }

        &[data-view="list" i] {
            &::before {
                left: calc(50% - var(--space--sm));

                @include mq-down(xs) {
                    left: calc(50% - var(--space--xs));
                }
            }
        }

        span {
            text-align: center;
            z-index: 1;
            color: var(--text--on-accent);
        }
    }
    &--content {
        overflow: hidden;
        padding: var(--space--md);

        @include mq-up(xs) {
            padding: var(--space--lg);
        }

        &[data-view="heatmap" i] {
            .records--list {
                display: none;
            }
        }
        &[data-view="list" i] {
            .records--heatmaps {
                display: none;
            }
        }
    }

    &--heatmaps,
    &--list {
        &:has(.records--spinner) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            --fa-animation-duration: 5s;
        }
    }
    &--spinner {
        font-size: 100px;
        position: fixed;
        top: 0;
        left: calc(var(--size--menu-width) + var(--size--filters-width));
        background: var(--bg--primary);
        width: calc(100% - var(--size--menu-width) - var(--size--filters-width));
        height: 100vh;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:only-child) {
            display: none;
        }
    }
    &--list {
        display: grid;
        grid-template-columns: 100%;
        gap: var(--space--sm);

        @include mq-up(xl) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .threads--filter-group {
        button {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            gap: var(--space--sm);
            line-height: 100%;
            font-size: 9px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: var(--text--primary);
            transition: 0.3s ease-in-out;
            cursor: pointer;
            font-weight: 700;

            &:hover {
                color: var(--text--secondary);
            }

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                border: var(--border--primary);
                border-radius: var(--radius--standard);
                transition: 0.3s ease-in-out;
                opacity: 1;
            }

            &:not(.is-active):hover {
                &::before {
                    border-color: var(--accent);
                    background: var(--accent);
                    opacity: 0.5;
                }
            }

            &.is-active {
                color: var(--text--secondary);

                &::before {
                    border-color: var(--accent);
                    background: var(--accent);
                }
            }
        }
    }
}

.heatmap {
    &--header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space--md);
        padding-bottom: var(--space--lg);

        & > h2 {
            font-family: var(--font--serif);
            text-transform: capitalize;
            letter-spacing: 0;
            font-size: 40px;
            font-weight: 900;
            margin: 0;
        }
    }
    &--stats {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space--xs) var(--space--lg);
        color: var(--text--primary);
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        line-height: 200%;
        justify-content: center;
    }
    &--calendars {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space--lg);
        justify-content: center;
    }
    &--calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: max-content;
        max-width: 100%;
        gap: var(--space--xs);

        & > b {
            color: var(--text--primary);
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            text-align: center;
            padding: 0 var(--space--xs);

            @include mq-down(xxs) {
                font-size: 0.4rem;
            }
        }
        & > div {
            width: 100%;
            aspect-ratio: 1 / 1;
            background: var(--bg--tertiary);
            border-radius: 4px;

            &.placeholder {
                opacity: 0.25;
            }

            & > span {
                position: absolute;
                top: 2px;
                left: 2px;
                line-height: 180%;
                color: var(--text--on-accent);
                font-size: 0.5rem;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                text-align: center;
                padding: 0 var(--space--xs);
            }

            &:hover {
                .heatmap--tooltip {
                    transform: translateX(-50%) scaleY(1);
                }
            }
        }
    }
    &--tooltip {
        position: absolute;
        bottom: calc(100% + var(--space--sm));
        left: 50%;
        transform: translateX(-50%) scaleY(0);
        color: var(--text--primary);
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        padding: var(--space--xs) var(--space--sm);
        background: var(--bg--secondary);
        border-radius: 4px;
        white-space: nowrap;
        transition: 0.3s ease-in-out;
        transform-origin: bottom;
        text-align: center;
        line-height: 200%;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: calc(50% - (var(--space--sm) / 2));
            width: var(--space--sm);
            height: calc((var(--space--sm) / 3) * 2);
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            background: var(--bg--secondary);
        }
    }
    &--month {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        max-width: 100%;
        
        .heatmap--stats {
            margin: var(--space--xs) 0;
            border-bottom: var(--border--primary);
            padding-bottom: var(--space--xs);
            width: 100%;
        }
        & > b {
            font-family: var(--font--serif);
            font-weight: 900;
            font-size: 24px;
            text-transform: capitalize;
        }
        & > span {
            color: var(--text--primary);
            font-size: 0.6rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 900;
        }
    }
}

.record {
    width: 100%;
    background: var(--bg--tertiary);
    border-left: var(--border--thick);
    display: grid;
    grid-template-columns: 100%;
    gap: 0 var(--space--md);
    padding: var(--space--md);

    @include mq-up(xs) {
        padding: var(--space--md) var(--space--lg);
    }

    @include mq-up(md) {
        grid-template-columns: auto 200px;
        grid-template-rows: max-content auto;
    }

    a {
        color: var(--text-secondary);
    }

    &--stats {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space--xs) var(--space--lg);
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 200%;

        button {
            background: none;
            border: none;
            font-size: 8px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 200%;
            color: var(--text--primary);
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
    }

    &--details {
        display: flex;
        height: 100%;
        gap: var(--space--xs) var(--space--lg);
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 200%;

        @include mq-down(md) {
            flex-wrap: wrap;
            border-top: var(--border--primary);
            padding-top: var(--space--md);
            margin-top: var(--space--md);
            padding-bottom: var(--space--xs);
            order: 3;
        }

        @include mq-up(md) {
            flex-direction: column;
            justify-content: center;
            border-left: var(--border--primary);
            padding-left: var(--space--lg);
            grid-row: span 2;
        }

        & > div {
            display: flex;
            align-items: center;
            gap: var(--space--xs) var(--space--sm);

            @include mq-up(md) {
                flex-wrap: wrap;
            }

            & > b {
                color: var(--text--secondary);
            }
        }

        button {
            background: none;
            border: none;
            font-size: 8px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 200%;
            color: var(--text--primary);
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
    }

    &--title {
        display: flex;
        flex-direction: column;
        gap: var(--space--sm);

        & > div {
            display: flex;
            align-items: end;
            gap: var(--space--xs);
        
            & > b {
                font-family: var(--font--serif);
                font-weight: 900;
                font-size: 48px;
                line-height: 100%;
            }

            & > span {
                padding-bottom: var(--space--xs);
            }
        }

        span {
            font-size: 8px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 200%;
        }
    }
}