@import '../global/mixins.scss';

.threads {
    margin-top: calc(-1 * var(--space--lg));

    &--header {
        position: sticky;
        top: 0;
        z-index: 2;
        background: var(--bg--primary);
        padding: var(--space--md) var(--space--xs) var(--space--xs);
        margin: 0 calc(-1 * var(--space--xs));

        @include mq-up(xs) {
            margin: 0 calc(-1 * var(--space--lg));
            padding: var(--space--md) var(--space--lg) var(--space--xs);
        }

        button {
            border: none;
            background: var(--bg--secondary);
            color: var(--text--primary);
            border-radius: 2px;
            text-transform: uppercase;
            font-size: 0.5rem;
            letter-spacing: 0.2em;
            font-weight: 700;
            padding: var(--space--xs) var(--space--lg);
            margin: 0 0 var(--space--sm);
            cursor: pointer;
        }
    }

    &--sorting {
        display: flex;
        flex-wrap: wrap;
        padding: var(--space--sm);
        gap: var(--space--xs);
        background: var(--bg--tertiary);
        border-radius: 10px;
        margin-bottom: var(--space--sm);

        input,
        button {
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 700;
            padding: var(--space--xs) var(--space--sm);
            background: var(--bg--quintenary);
            border: 0;
            color: var(--text--primary);
            border-radius: 2px;
            height: 1.5rem;
            line-height: 100%;
            margin: 0;
        }
    }

    &--sort-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space--xs);
    }

    &--filters {
        display: flex;
        padding: var(--space--sm);
        gap: var(--space--sm) var(--space--md);
        background: var(--bg--tertiary);
        border-radius: 10px;
        margin-bottom: var(--space--sm);
        flex-wrap: wrap;

        button {
            font-size: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 700;
            padding: 0 var(--space--sm);
            background: none;
            border: 0;
            color: var(--text--primary);
            border-radius: 2px;
            line-height: 200%;
            margin: 0;
            width: 114%;
            text-align: left;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--bg--quintenary);
        
            &::after {
                content: '\f107';
                font-family: 'Font Awesome 6 Pro';
                font-weight: 700;
                margin-left: var(--space--sm);
                top: -0.1em;
                position: relative;
                transform: rotate(0deg);
                transition-duration: 0.3s;
                display: inline-block;
            }
        }
    }

    &--filter {
        width: 150px;
        flex: 0 0 150px;
        display: flex;
        align-items: center;
        height: 1rem;

    
        &.is-active {
            button::after {
                transform: rotate(180deg);
            }
            .threads--filter-dropdown {
                display: block;
            }
        }
    }

    &--filter-dropdown {
        position: absolute;
        top: calc(100% + var(--space--xs));
        left: 0;
        width: 200px;
        background: var(--bg--quaternary);
        padding: var(--space--sm);
        border-radius: 10px;
        z-index: 2;
        display: none;
    }

    &--filter-group {
        max-height: 150px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: var(--space--xs);

        label {
            display: flex;
            flex-direction: row !important;
            align-items: center;
            gap: var(--space--xs);
            cursor: pointer;
            line-height: 0;
            
            input {
                display: none;
            }

            b {
                text-transform: uppercase;
                font-size: 0.5rem;
                letter-spacing: 0.2em;
                font-weight: 900;
            }

            span {
                display: block;
                width: 20px;
                height: 20px;
                background: var(--bg--quintenary);
                padding: 3px;
                border-radius: 3px;
                line-height: 160%;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    background: var(--text--primary);
                    opacity: 0;
                }
            }

            &:hover {
                span::before {
                    opacity: 0.5;
                }
            }

            &.is-checked {
                span::before {
                    opacity: 1;
                }
            }
        }
    }

    &--content {
        max-width: 1000px;
        margin: 0 auto;
    }
}
.thread {
    width: 100%;
    margin-bottom: var(--space--sm);
    background: var(--bg--tertiary);
    border-left: 5px solid var(--bg--quintenary);

    &:has(.status--mine),
    &:has([data-status="mine"]) {
        border-left: 5px solid var(--bg-accent);
    }

    &.status--complete {
        opacity: 0.25;
        transition-duration: 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    a {
        color: var(--text-secondary);
    }

    &--wrap {
        &:has(.thread--right) {
            display: grid;
            gap: var(--space--md);

            @include mq-up(md) {
                grid-template-columns: auto 300px;
            }
        }
    }

    &--main {
        display: grid;
        padding: var(--space--md) var(--space--md) 0;

        @include mq-up(xs) {
            padding: var(--space--md) var(--space--lg) 0;
        }

        @include mq-up(md) {
            padding: var(--space--md) var(--space--lg);
        }

        & > span {
            font-size: 8px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            line-height: 200%;

            &.bigger {
                font-size: 9px;
            }

            a {
                font-weight: 900;
            }
        }
    }

    &--title {
        display: flex;
        gap: 15px;
        font-family: var(--font--serif);
        font-weight: 900;
        font-size: 24px;
        margin: 10px 0;

        a::after {
            display: none;
        }
    }

    &--dates {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 200%;
    }

    &--right {
        position: relative;
        font-size: 12px;
        line-height: 180%;
        text-align: justify;
        padding: 0 var(--space--md);

        @include mq-up(md) {
            padding: 0;
        }

        &-inner {
            width: 100%;
            height: 100%;
            max-height: 100px;
            padding: var(--space--sm) var(--space--md);
            border-top: 1px solid var(--bg--quintenary);

            @include mq-up(md) {
                position: absolute;
                top: var(--space--md);
                left: var(--space--md);
                height: calc(100% - (2 * var(--space--md)));
                width: calc(100% - var(--space--md));
                max-height: none;
                border-left: 1px solid var(--bg--quintenary);
                border-top: none;
            }

            .scroll {
                height: 100%;
                overflow: auto;
                padding-right: var(--space--md);
                scrollbar-width: thin;
                scrollbar-color: var(--bg--primary) transparent;
            }
        }
    }

    &--buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 15px;

        & > button {
            border: 1px solid var(--bg--quintenary);
            background: none;
            border-radius: 5px;
            color: var(--text--primary);
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            padding: 10px 20px;
            line-height: 100%;
            transition: 0.3s ease-in-out;

            &:not([disabled]) {
                cursor: pointer;

                &:hover {
                    border-color: var(--bg-accent);
                    background: var(--bg-accent);
                    color: var(--text-secondary);
                }
            }

            &.is-updating {
                opacity: 0.5;
            }

            &:not(.is-updating) .loading,
            &.is-updating .not-loading {
                display: none;
            }
        }
    }
}